/* :user-invalid, :user-valid, label input:valid:not(:focus):before { content: attr(data-error-message)} "before werkt niet op input op firefox dus moet op de label"*/

:root {
    --color-not-valid: #8fcae7;
    --color-error: rgb(255, 123, 0);
    --color-valid: green;
}

html:has(main form > section#eersteSection:not(:target) > fieldset:invalid){
    & main nav a:nth-child(1) {
        background-color: var(--color-not-valid);
    }
}
html:has(main form > section#tweedeSection:not(:target) > fieldset:invalid){
    & main nav a:nth-child(2) {
        background-color: var(--color-not-valid);
    }
}
html:has(main form > section#derdeSection:not(:target) > fieldset:invalid){
    & main nav a:nth-child(3) {
        background-color: var(--color-not-valid);
    }
}

/* Als er iets fout is ingevuld en de input niet leeg is in de fieldset, de link naar die fieldset is rood */
/* TODO dit ook voor de andere sections */
html:has(main form > section#eersteSection:not(:target) fieldset input:user-invalid:not(:placeholder-shown)) {
    & main nav a:nth-child(1) {
        background-color: var(--color-error);
    }
}
html:has(main form > section#tweedeSection:not(:target) fieldset input:user-invalid:not(:placeholder-shown)) {
    & main nav a:nth-child(2) {
        background-color: var(--color-error);
    }
}
html:has(main form > section#derdeSection:not(:target) fieldset input:user-invalid:not(:placeholder-shown)) {
    & main nav a:nth-child(3) {
        background-color: var(--color-error);
    }
}

html:has(main form > section#eersteSection:target) main nav a:nth-child(1) {
    background-color: var(--color-dark-blue);
    scale: 1.3;
}
html:has(main form > section#tweedeSection:target) main nav a:nth-child(2) {
    background-color: var(--color-dark-blue);
    scale: 1.3;
}
html:has(main form > section#derdeSection:target) main nav a:nth-child(3) {
    background-color: var(--color-dark-blue);
    scale: 1.3;
}

/* if the input is valid or not, and not empty, show a feedback border */
input:user-valid:not(:placeholder-shown) {
    border: var(--color-valid) solid 2px;
}
input:user-invalid:not(:placeholder-shown) {
    border: var(--color-error) solid 2px;
}

/* als een label invalid is, geen focus heeft, en niet leeg is: geef dan de error message uit de data attribute */
label:has(input:user-invalid:not(:focus):not(:placeholder-shown))::after {
    content: attr(data-error-message);
    width: fit-content;
    grid-row: 2/3;
    color: var(--color-error);
}
.showErrorMessage::after {
    content: attr(data-error-message);
    width: fit-content;
    grid-row: 2/3;
    color: var(--color-error);
}

/* TODO als placeholder-shown niet is supported doet de rest het dan wel? */
/* placeholder-shown caniuse: https://caniuse.com/?search=%3Aplaceholder-shown */

form:invalid {
    & button[value="Verstuur"] {
        display: none;
    }
    & button:disabled {
        display: inline;
    }
}