:root {
    --color-dark-blue: rgb(24, 24, 180);
    --color-fade-blue: #8fcae7a5;
    --supports-selector-has: 0;
    
    @supports selector(:has(*)) {
        --supports-selector-has: 1;

        .vervolg{
            margin-top: 1em;
            display: none;
        }
        label > span:not(.noneWithJs) {
            display: none;
        }
    }
}

/* All the :has() gathered for testing purposes */

label:has(input:not([type="radio"])){
    display: grid;
    gap: 0;
    margin-bottom: 0.5rem;
}

html:has(section:target) .startFormLink{
    display: none;
}

html:has(label[data-ga-verder-met="vervolg-1b"] input:checked) .vervolg-1b, 
html:has(label[data-ga-verder-met="vervolg-1b-2"] input:checked) .vervolg-1b-2,
html:has(label[data-ga-verder-met="vervolg-1c"] input:checked) .vervolg-1c, 
html:has(label[data-ga-verder-met="vervolg-1c-2"] input:checked) .vervolg-1c-2,
html:has(label[data-ga-verder-met="vervolg-1d"] input:checked) .vervolg-1d,
html:has(label[data-ga-verder-met="vervolg-3a"] input:checked) .vervolg-3a, 
html:has(label[data-ga-verder-met="vervolg-3a,vervolg-3b"] input:checked) .vervolg-3a,
html:has(label[data-ga-verder-met="vervolg-3a,vervolg-3b"] input:checked) .vervolg-3b, 
html:has(label[data-ga-verder-met="vervolg-3b"] input:checked) .vervolg-3b,
html:has(label[data-ga-verder-met="vervolg-3b-2"] input:checked) .vervolg-3b-2,
html:has(label[data-ga-verder-met="vervolg-3d"] input:checked) .vervolg-3d, 
html:has(label[data-ga-verder-met="vervolg-4c"] input:checked) .vervolg-4c,
html:has(label[data-ga-verder-met="vervolg-4c-2"] input:checked) .vervolg-4c-2
{
    display: block;
    animation: fade-in 1.5s linear;
}
@keyframes fade-in {
    0% {
        opacity: 0;
        background-color: var(--color-fade-blue);
    }
    20% {

        opacity: 1;
    }
    40% {
        background-color: var(--color-fade-blue);
    }
}
/* End of using has */


@layer baseExtra {
    p, li {
        max-width: 40em;
    }
    button:disabled {
        display: none;
    }
    label {
        display: flex;
        align-items: center;
        gap: 0.5em;
        max-width: 40em;
        margin-top: 0.5rem;
        /* margin-block-start: 0.5rem; */
        width: fit-content;
    }
    /* :has() fallback */
    .labelWithInput{
        display: grid;
        gap: 0;
        margin-bottom: 0.5rem;
    }
    .moneyInput div{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }
    .moneyInput div input {
        text-align: right;
    }
    label[data-error-message]{
        width: 100%;
    }
    label[data-error-message] input {
        width: min-content;
    }

    /* ster ervoor? */
    /* label:has(input[required])::before{
        content: "*";
        grid-row: 1/1;
        position: absolute;
        right: 0;
        top: 0;
    } */

    input[type="radio"] {
        height: 1.5em;
        aspect-ratio: 1;
        margin: 0;
    }
    input[type="number"]{
        width: min-content;
    }
    input:not([type="radio"]){
        border: none;
        border-bottom: solid rgb(0, 0, 0) 1px;
        border-right: solid rgb(0, 0, 0) 1px;
        padding: 0.3rem;
    }

    section > fieldset {
        border-bottom: solid rgba(0, 0, 0, 0.3) 1px;
        padding: 0 0 0.5rem 0;
        margin-top: 1em;
    }
    fieldset {
    border: none;
    padding: 0;
    margin: 0.5em 0 0.5em 0;
    }

    fieldset > p, section > p {
        font-weight: 700;
        /* color: color-mix(in srgb, var(--color-dark-blue), black 50%); */
        font-family: Arial,sans-serif;
    }
    fieldset legend {
        font-weight: 600;
    }
    fieldset legend + details {
        margin-top: 0.5rem;
    }
    fieldset legend span {
        /* font-weight: 700; */
        font-size: 1.1em;
        color: color-mix(in srgb, var(--color-dark-blue), black 20%)
    }

    section:not(:target){
        display: none;
    }
    section:target {
        scroll-margin: 12.1em;
        display: grid;
    }

    .startFormLink {
        background-color: var(--color-fade-blue);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
    }
    .startFormLink a {
        text-decoration: none;
        color: black;
        background-color: white;
        padding: 0.3rem;
        border-radius: 10px;
    }

    .disableQuestion {
        border: solid black 1px;
    }
    .disableQuestion label {
        display: none;
    }

    main form, main nav {
        margin-right: auto;
        margin-left: auto;
        max-width: 50em;
    }
    main form > section > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 1em;
    }
    main form > section:nth-child(1) > div {
        justify-content: end;
    }
    main form > section > div a {
        width: fit-content;
        text-decoration: none;
        padding: 0.3rem;
        border: solid black 2px;
        background-color: color-mix(in srgb, var(--color-fade-blue), white 30%);
        color: rgb(0, 0, 0);
        border-radius: 5px;
        transition: 200ms;
    }
    main form > section > div a:hover{
        scale: 1.05;
    }
    main form > section > div a:focus{
        scale: 1.05;
        border: solid rgb(255, 0, 247) 2px;
        /* outline: none; */
    }
    main form section legend, main form section p {
        max-width: 40em;
    }

    main form section .name, main form section .adress {
        display: flex;
        flex-wrap: wrap;
    }
    main form section .name label, main form section .adress label{
        margin-right: 1rem;
    }

    details > div, details > p{
        padding-left: 0.4em;
    }

    .toelichting {
        order: 0;
        background-color: rgb(198, 243, 255);
        /* border-radius: 10px; */
        width: fit-content;
        padding: 0.3em 0.8rem ;
        box-shadow: 1px 1px 2px black;
        margin-bottom: 0.5rem;
        height: fit-content;
    }
    .toelichting[open]{
        /* position: absolute; */
        /* right: 0; */
        /* place in grid section */
    }
    .toelichting div {
        width: fit-content;
    }
}