:root {
    --color-dark-blue: rgb(24, 24, 180);
    --color-fade-blue: #8fcae7a5;
    --supports-selector-has: 0;
    
    @supports selector(:has(*)) {
        --supports-selector-has: 1;

        .vervolg{
            padding-top: 1em;
            display: none;
        }
        label > span {
            display: none;
        }
    }
}
button:disabled {
    display: none;
}
label {
    display: flex;
    align-items: center;
    gap: 0.5em;
    width: max-content;
}
label:has(input:not([type="radio"])){
    display: grid;
    gap: 0;
    margin-bottom: 0.5rem;
}

input[type="radio"] {
    height: 1.5em;
    aspect-ratio: 1;
}
input {
    width: max-content;
}
fieldset {
   border: none;
   padding: 0;
   padding-top: 0.5rem;
   margin-bottom: 0.5em;
}
fieldset legend span {
    font-weight: 700;
}

/* Going through the pages */
/* section:not(:nth-child(1)) {
    display: none;
} */
section{
    display: none;
}
section:target {
    display: block;
}

/* 1b */
fieldset[data-vraag="1b"]:has(label[data-ga-verder-met="vervolg-1b"] input:checked) .vervolg-1b, 
/* 1b-2 */
fieldset[data-vraag="1b"]:has(label[data-ga-verder-met="vervolg-1b-2"] input:checked) .vervolg-1b-2,
/* 1c */
fieldset[data-vraag="1c"]:has(label[data-ga-verder-met="vervolg-1c"] input:checked) .vervolg-1c, 
/* 1c-2 */
fieldset[data-vraag="1c"]:has(label[data-ga-verder-met="vervolg-1c-2"] input:checked) .vervolg-1c-2,
/* 1d */
fieldset[data-vraag="1d"]:has(label[data-ga-verder-met="vervolg-1d"] input:checked) .vervolg-1d
{
    display: block;
    /* opacity: 1; */
    animation: fade-in 1.5s linear;
}
@keyframes fade-in {
    0% {
        opacity: 0;
        background-color: var(--color-fade-blue);
    }
    20% {

        opacity: 1;
    }
    40% {
        background-color: var(--color-fade-blue);
    }
}

main form section {
    position: relative;
}
main form > section > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
main form > section:nth-child(1) div {
    justify-content: end;
}
main form > section > div a {
    width: fit-content;
    text-decoration: none;
    padding: 0.3rem;
    background-color: var(--color-dark-blue);
    color: white;
    border-radius: 5px;
}
main form section legend, main form section p {
    max-width: 40em;
}

main form section > .infoLink {
    position: absolute;
    top: 1em;
    right: 1em;
}
main form section > .infoButton {
    position: absolute;
    top: 1em;
    right: 1em;
    height: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    font-size: 1.3em;
    transition: 200ms;
    display: none;
}
main form section > .infoButton:hover {
    scale: 1.1;
}
main form section > .infoButton:focus {
    scale: 1.1;
    border-color: blue;
    animation: bounce 2s linear infinite;
}
@keyframes bounce {
    30% {
        scale: 1.1;
    }
    40% {
        scale: 1.3;
    }
    60% {
        scale: 1.3;
    }
    70% {
        scale: 1.1;
    }
}